.piano {
    position: fixed;
    width: 90%;
    height: 100px;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--c-piano-bg);
  }

  .pianoKeys {
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--key-white);
    border: solid var(--c-key-border) 1px;
    box-shadow: 2px 5px var(--c-key-shadow);
    box-sizing: border-box;
    z-index: 1;
  }

  .pianoKeys.selected {
    background: var(--c-key-selected);
    box-shadow: 2px 5px var(--c-key-shadow), var(--glow-key);
  }

  .whiteCheck {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .pianoKeysBlack {
    position: absolute;
    top: 0;
    height: 62%;
    background: black;
    border: solid var(--c-key-border) 1px;
    box-sizing: border-box;
    z-index: 3;
  }

  /* Add gradient to the black keys for a more realistic look */
  .pianoKeysBlack:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--key-black);
  }

  .pianoKeysBlack.selected {
    background: var(--c-key-selected);
    box-shadow: var(--glow-key);
  }

  .pianoKeysBlack.selected:before {
    background-image: none;
    background: var(--c-key-selected);
  }

  .blackCheck {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
  }

  
  
  
  
  
  