.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    overflow: visible;
}

.info {
  position: absolute;
  bottom: 100;
  margin-top: 600px;
}

.infoContainer {
  width: 100%;
}

.key {
  min-width: 68px;
  margin-right: 20px;
}
  
.parts {
    width: 100%;
    overflow: hidden;
}
  
.openedPart {
    position: absolute;
    top: 300%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    width: 100%;
    height: 500px;
}

.controls {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}

.fader {
    align-items: center;
    margin-left: 16px;
}

/* Define standard appearance for range input */
input[type="range"] {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, blue, rgb(187, 187, 254)) no-repeat center;
  background-size: calc(((100% - 8px) / 150) * var(--value)) 100%;
}

/* Define standard appearance for range input thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none; /* Standard */
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  margin-top: -1px;
}

/* Define standard appearance for range input thumb in Firefox */
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none; /* Standard */
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  margin-top: -1px;
}

.button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: #20e72d;
    color: black;
    width: 90px;
    line-height: 2;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4281b2;
    }
  }
  .openButton {
    background-color: purple;
    color: white;
  }